/* body{

} */
.navi{
    display: flex;
    justify-content: space-between;
     padding: 20px; 
     background-color: whitesmoke;
     align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(183, 126, 126);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.contact,a {
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 25px;
  }
  
  


.main{
    display: flex;
    gap: 10rem;
    padding: 50px;
    justify-content: center;
}
section{
    background-image: linear-gradient(to bottom, rgb(219, 109, 109), rgb(105, 128, 0));
}
footer{
    bottom: 0;
    color: red;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}